<launch>
  <!-- ================= Robot & Gazebo Setup ================= -->
  <!-- Initial pose -->
  <arg name="x"     default="-4.3"/>
  <arg name="y"     default="3"/>
  <arg name="z"     default="0"/>
  <arg name="roll"  default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw"   default="-3.14"/>

  <!-- URDF to Parameter Server -->
  <param name="robot_description"
         command="$(find xacro)/xacro $(find qcar_gazebo)/urdf/qcar_model.xacro"/>

  <!-- Control plugin params -->
  <rosparam file="$(find qcar_controlplugin)/config/qcar_controlplugin.yaml"
            command="load"/>
  <!-- Guidance computes the next desired velocities -->
  <node name="guidance_node"
        pkg="qcar_guidance"
        type="example_guidance_node.py"
        output="screen"/>

  <!-- Control turns the guidance output into a Twist on /cmd_vel -->
  <node name="control_node"
        pkg="qcar_control"
        type="example_control_node"
        output="screen"/>

  <!-- Joint State & TF -->
  <node pkg="joint_state_publisher" type="joint_state_publisher"
        name="joint_state_publisher"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher" output="screen">
    <remap from="/joint_states" to="/qcar/joint_states"/>
  </node>
  
  <!-- Velocity EKF VISNAV-->
  
  <node pkg="qcar_visnav"
        type="ekf_node"
        name="velocity_ekf"
        output="screen">
    <rosparam file="$(find qcar_visnav)/config/ekf.yaml" command="load"/>
    <remap from="/joint_states" to="/qcar/joint_states"/>
  </node>
 

  <!-- Gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find qcar_gazebo)/worlds/Track1.world"/>
    <arg name="gui"         value="true"/>
    <arg name="verbose"     value="true"/>
  </include>

  <!-- Spawn QCar model -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_qcar" output="screen"
        args="-urdf -param robot_description -model qcar
              -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>

  <!-- Controllers -->
  <group ns="qcar">
    <node pkg="controller_manager"
          type="spawner"
          name="controller_spawner"
          args="base_fr_controller base_fl_controller joint_state_controller"
          output="screen"/>
  </group>

  <!-- ================= Supervisory JMF Node ================= -->
  <!-- load all JMF parameters into the global namespace -->
  <!-- loads Q, Pi, model_length -->
  <node pkg="qcar_supervisor"
        type="sup_jmf_node"
        name="sup_jmf_node"
        output="screen">
  <!-- load jmf params into this node's namespace -->
    <rosparam file="$(find qcar_supervisor)/config/jmf.yaml"
              command="load"/>
  </node>


  <!-- ================= Noisy Position Node ================= -->
  <node pkg="qcar_supervisor"
        type="noisy_pos_node"
        name="noisy_pos_node"
        output="screen"/>

  <!-- ================= Mode-Probability Plotter ================= -->
  <node pkg="qcar_supervisor"
        type="plot_mode_probs.py"
        name="mode_probability_plotter"
        output="screen"
        respawn="false"/>
</launch>