<launch>
  <!-- Use simulation clock -->
  <param name="use_sim_time" value="true"/>

  <!-- Sim + EKF as before -->
  <include file="$(find qcar_visnav)/launch/Track1ExampleEKF.launch"/>

  <!-- Perception params -->
  <rosparam file="$(find qcar_visnav)/config/perception.yaml" command="load"/>

  <!-- Detector -->
  <node pkg="qcar_visnav" type="cone_detector_node" name="cone_detector" output="screen"/>

  <!-- Tracker -->
  <node pkg="qcar_visnav" type="cone_tracker_node" name="cone_tracker" output="screen"/>

  <!-- === Visualize raw cones === -->
  <node pkg="qcar_visnav" type="cones_viz_node" name="cone_markers_raw" output="screen"/>

  <!-- === Visualize tracked cones === -->
  <node pkg="qcar_visnav" type="cones_viz_node" name="cone_markers_tracked" output="screen"/>

  <!-- FastSLAM 2.0 core -->
  <node pkg="qcar_visnav" type="slam_node" name="fastslam2" output="screen">
    <!-- node-private params -->
    <rosparam command="load" file="$(find qcar_visnav)/config/fastslam2.yaml"/>
  </node>

  <!-- FastSLAM viz (blue cones etc.) -->
  <node pkg="qcar_visnav" type="fastslam2_viz_node" name="fastslam2_viz" output="screen">
    <!-- node-private params -->
    <rosparam command="load" file="$(find qcar_visnav)/config/fastslam2.yaml"/>
  </node>

  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find qcar_visnav)/rviz/fastslam2_track1.rviz"/>
</launch>
